body{
    background-color: gold;
    
}

h1{
    text-align: center;
}

.win{
    width:8%;
    margin:0px;
    color:red;
}

.why{
    background-color: rgba(100, 237, 173, 0.452);
    border-bottom: double;
    padding-bottom: 30px
}

.yes{
    background-color: rgba(0, 255, 191, 0.541);
    border-left:dashed;
}

.tip{
    border-bottom:1px solid black ;
}

.win1{
    width:30%;
    color:red;
}